version: 2.1
orbs:
  node: circleci/node@5.2.0
jobs:
  build-and-test:
    docker:
      - image: cimg/node:20.11
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: "Setup custom ENV variables"
          command: echo 'export SERVICE_ACCOUNT_PRIVATE_KEY="$(echo $SERVICE_ACCOUNT_PRIVATE_KEY_BASE64 | base64 -d)"' >> $BASH_ENV
      - run:
          name: Run tests
          command: npm test
workflows:
    build-and-test:
      jobs:
        - build-and-test
