name: E2E Integration

on:
  push:
  schedule:
    - cron: '0 13 * * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['14', '16', '18', '20', '22']

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
        SERVICE_ACCOUNT_PRIVATE_KEY: ${{secrets.service_account_private_key}}
        SERVICE_ACCOUNT_CLIENT_EMAIL: ${{secrets.service_account_client_email}}
